In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('IRIS.csv')
df.sample(7)

     sepal_length  sepal_width  petal_length  petal_width          species
101           5.8          2.7           5.1          1.9   Iris-virginica
61            5.9          3.0           4.2          1.5  Iris-versicolor
128           6.4          2.8           5.6          2.1   Iris-virginica
50            7.0          3.2           4.7          1.4  Iris-versicolor
70            5.9          3.2           4.8          1.8  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica

In [3]:
df.shape

(150, 5)

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
df['species'] = le.fit_transform(df['species'])

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [7]:
df = df[df['species'] != 0][['sepal_width', 'petal_length', 'species']]

In [8]:
df.shape

(100, 3)

In [10]:
df.head()

     sepal_width  petal_length  species
109          3.6           6.1        2
149          3.0           5.1        2
110          3.2           5.1        2
136          3.4           5.6        2
142          2.7           5.1        2

In [9]:
df = df.sample(100)