In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('heart.csv')
df.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2,1
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
X = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)