In [50]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [51]:
df = pd.read_csv('Car_Dataset.csv')
df.sample(5)

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
1176,1176,2020 Hyundai Grand i10 Nios AMT Sportz,Aug-20,Comprehensive,Petrol,5,17778,First Owner,Automatic,2020,20.70,1197.0,1197.0,8186.0,7.04
1396,1396,2019 Maruti Wagon R VXI 1.2,Feb-19,Comprehensive,Petrol,5,24100,First Owner,Manual,2019,20.52,1197.0,1197.0,8180.0,4.74
366,366,2015 Hyundai Grand i10 Magna CNG,Oct-15,Comprehensive,CNG,5,64000,First Owner,Manual,2015,1197.00,82.0,82.0,114.0,4.25
973,973,2018 Maruti Ciaz 1.3 Alpha,Jun-18,Comprehensive,Diesel,5,59870,First Owner,Manual,2018,28.09,1248.0,1248.0,885.0,7.27
50,50,2018 Jaguar XE 2.0L Diesel Portfolio,Jul-18,Comprehensive,Diesel,5,48000,First Owner,Automatic,2018,13.50,1999.0,1999.0,177.0,26.95

In [52]:
df.isna().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         3
engine(cc)            3
max_power(bhp)        3
torque(Nm)            4
price(in lakhs)       0
dtype: int64

In [53]:
df

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,Aug-20,Comprehensive,Diesel,5,35000,First Owner,Automatic,2020,1493.00,11345.0,11345.0,250.0,17.41
1549,1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,999 cc,2022,Power Steering,999.00,6706.0,6706.0,91.0,3.98
1550,1550,2017 Honda WR-V i-VTEC S,Jun-17,Comprehensive,Petrol,5,49000,First Owner,Manual,2017,17.50,1199.0,1199.0,887.0,5.85
1551,1551,2018 Volkswagen Polo 1.0 MPI Comfortline,May-18,Comprehensive,Petrol,5,40000,Second Owner,Manual,2018,18.78,999.0,999.0,75.0,4.75
1552,1552,2018 Maruti Swift Dzire VXI,May-18,Comprehensive,Petrol,5,34756,First Owner,Manual,2018,20.85,1197.0,1197.0,8314.0,6.10

In [54]:
df[['regMonth', 'registration_year']] = df['registration_year'].str.split('-', expand=True)

In [55]:
df.drop(columns=['regMonth','car_name'], inplace=True)

In [56]:
df.head()

,Unnamed: 0,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

In [57]:
df.nunique()

Unnamed: 0            1553
registration_year       15
insurance_validity       6
fuel_type                4
seats                    6
kms_driven             710
ownsership              22
transmission            13
manufacturing_year      19
mileage(kmpl)          332
engine(cc)             147
max_power(bhp)         147
torque(Nm)             281
price(in lakhs)        630
dtype: int64

In [58]:
for i in df.iloc[:,[3,4,5,7,8,9]].columns:
    print(df[i].unique())

['Petrol' 'Diesel' 'CNG' '5 Seats']
[    5     6     7     4     8 67000]
[ 56000  30615  24000  18378  44900  42000  36739  76000  68000  28783
  40000  17382 120000  17000  26867  30000 150000  53000  48000  35000
 100525  83000  40191  62152  49000  56215 100000  36346  42098  64000
  13158  65400  62000  10280  17282  30500  60755  25000  47000  59316
  20000  12503  10000  73717  90000  36047  45000  50000  51000  17041
  23588  49341  12000  51734  22000  45084  29000  16763   6000  60000
  86000   9000  14900  17172  33000  38000  11501  43703  29800  22051
  32965  96593  15000  27138  70000  16684  92543  59870  62700  42132
  32000  58873  14069  80000  57453  66717  16433  17860  52000  27200
  25260  21421  70215  32900  40045  75000  32325  78501  46853  27114
  88000  58382  32628  67264  77584  71977  52690  11900  53747  32321
  55485  54000  49404   8000  33841   9246  42462  96660  38963  63249
  82000  40500  65170  34838  30466  48946  43498   8744  72000  71361
  60500  26000  28000  89002  36937  55000  70391  52190  48173 110000
  44132  28194  34500  50605  55861  52565  73074  90995  42346  31120
  33500   4000  48936  23000  61814  30200  34123  16000  28645  48933
  60970  40427  54213  85000  91000  54630  72222  41116  29502 132501
  56458  61657  67000 104948 154000  46000  39000  64727  65000  44636
  23616 107682   9500  47500 101914    620  45507  58000   7000  74095
   8450  77684  22900  19000  74846   4500  97722  79683  85540  50170
  44000  37163  21003  89057  11000  72692  47463   7651  69348  18000
  51710  84000  62411  22711  90576  40678  27500  92539  21000   5000
  16570  39791 138000   3000  94176  49594  76441  56572  27210  62677
 109495  54214  43600  45240   3600  36000  59090 126000  70717  73086
  51690  23592  69000   3500  64155  68018  14000  29846  26092  50823
   5200  36050  90932  11848  73580  22600  44275  45239 102973  87000
  63952  46310  94498   9300  37000 144234 114658  71000  38616  33093
  57000  75206  96241  34214  55818  70516  94000  80627  53311 108836
  44525  31500  64862  63839 113820  31000  97610  34496  75163   6900
  89961  58740  18700  83690  50900  78651   9818  49230  76685 101954
  68897 105568  61383  77130  56426  69018  65710  51763  19133 145000
  42733  30300  59215  91724  19900  72503   1796  67633  61000 103030
  19123  70767  58525  77353  59200  99230  50840   1000 111142 133477
 120802  41000   7900  42334  98275  57500  52235  50158  34000  69820
  82415  71070 107834  48539  86916 108662 130000  63307 101927  31900
  40775  18346  46001  59710  67606  72135  96658  26750  92762  43293
 102786  98751  54776  80330  37800  29294   6800  16847  25500  65865
   5500  20866 130363  73937  42014  73000  59841  81949  34769  79656
  84310  79362 102511 105446  75865  64690   5103  18706  43687  60758
  42261  75499  87109 109000  90001  13000  47057 123715  36522  63000
  23285  14596  48401  34377 127000  89000  66302  79247  82051  31655
  59965 103209  29497  22849  66000  43000  62039  23428  47925  59011
 121281  63238  51376  51196  35898  19876  40451  98000 790000 104000
  57647  76125  94857  51499  22468 123186  74661  50018  11971  92000
 105885  93774  86981  48728  87001  50595 103012 108929  56387 101000
 810000  92001  51918  37552  63420  68888 104255  47877  83337  61836
  68001  39813  74000 102000  76792  34445 109405 118146  41339  62607
  52794  33864  67754  78000  17778  16499  33364  64784  59000  29584
  87217  77482  34312  80001  43415  24412  24020  70251  86212  39458
  70598  48325  86001  79000  74002  39718  67529  88281  64160  77253
 102614  78911  99000  47975 121000  32141  64657 100657  50570  42392
  62155  94822  59422  70727  58857  68237  31237  93027 122688  60464
  40171 122223  77299  44019  11962  44002  13066  36015  11880  65018
  28061  40300  58231  32997  41203   6818  29200  16016  26638  18930
   5700  26580  68499  53750  48341  34260  48380  23022  26610  66019
  42320  25484  25171  78006  21607  52162  23435  20336  68591  65341
  23329 100500  58500  66455   1229  12100  26597  73616  53657  37016
  62466  20041  44669  28500  19843  44800  27012  35629  37009  46022
  22302   7400  17024  71649   9016  44999  78106  34016  85692   6500
  35080  77727  42364  44018  18500  43002  13200  69381  64275   7421
   5252  63663  60545  85602  35902  87172  52950  42005  39450  60314
  78019  42970 176000  24100  51123  48405  52305  46488  71842  51334
  72560  92044  79097  68619  34452  40326  40021   7962 260000  44508
  58958  48188  24268  38502  43487  14400  62920  60467  65017  38015
  49134  37100  69977  16937  51441  53947  40909  28662  46912  40238
  22873  77389  88935  53681  49441  23838  26719  34987  27236  41080
  72793  32002 105000  20827  37852  16683  53135  32230  10400  23748
  13513  12952  22672  41048   1800  22700  79862  29146  35925  57999
  14352  49999  21194  27019   9700  13519  45017  78308  79852  18049
  19500   7643  22316  45221  38671  49303  17536  30400  15071  80100
  10773  10957  87900  16100  48650  29252   2300  19446  26500  34756]
['Automatic' 'Manual' '2017' '2014' '2023' '2020' '2021' '2011' '2022'
 'Power Windows Front' '2018' '2015' '2016']
['2017' '2020' '2018' '2019' '2015' '2021' '2014' '2022' '2010' '2011'
 '2023' '2016' '2009' '2013' 'Power Steering' '2012' 'Power Windows Front'
 'Air Conditioner' '2007']
[   7.81   17.4    20.68   16.5    14.67   18.7    18.9    15.8    13.5
   17.     16.42   18.88   18.15   21.     22.69   14.1    12.4    16.1
   18.    998.     18.53   15.29   21.4    17.1    12.55   16.8    18.6
   22.56   17.6    17.8    26.49 1498.     10.98   18.4    14.4    20.8
   11.9    15.4    16.2    14.82   22.     14.3    11.3    19.3    20.36
 2179.     19.16   20.28   16.     18.27   17.9    11.36   21.01   12.34
   20.5    19.33 2993.     15.1    20.25 1950.     25.17 2755.   1197.
 1086.     17.01   19.01   19.4  1997.     18.2    12.6  2996.   1999.
   21.7    15.04   19.     14.99 1461.   1196.     11.   1969.     15.71
   20.37   23.8    20.7    12.83   13.     19.1  1995.     15.     26.6
   20.89   14.     16.55 1451.     10.91   10.75   27.28   12.05   18.5
 1998.     20.73   14.11 1493.     17.5   999.     18.56   15.2    12.81
   14.7  1984.     13.68   16.3    11.78   20.38   15.01   12.07   13.8
   22.1     9.17   14.75   16.35   23.01   20.51   22.32 1497.     11.86
   10.2    13.38   17.21   24.3    17.11   14.24 1996.     14.53   12.65
    9.43   15.97   25.5    19.12   11.74   21.19 1991.     16.47   16.77
 2925.    796.     13.47  147.51   22.35   12.1     8.9    22.61   16.98
   18.76   15.63   12.74   14.47     nan   11.88   19.89   15.3    23.84
   21.79    8.13   12.5    18.47    9.7    25.1    22.5    15.73   17.33
   20.3    14.8  2999.     20.     20.14   19.39   10.31   17.3    14.6
   18.25   14.08   13.7     9.8    11.67   11.2    20.85   17.05   19.87
   26.11   20.52   18.8    28.09   28.4    20.65   19.62   21.21   17.71
   21.56   20.45   13.32   23.65   12.62   19.27   15.5    19.67   18.55
   12.95   17.84   12.9   285.     16.34   17.09   16.9    15.6    11.7
   20.04   13.33   19.6    10.63   16.38   12.   2987.     11.21   10.13
   19.49   12.8    20.4    13.02   22.94 1396.     13.96  814.     18.3
   26.08  624.   1198.     23.7    22.7    18.49   18.23   18.89   22.07
 1495.     17.99   20.77 1199.     16.09   17.74   14.84   24.2    22.15
   19.7    22.41   13.79   27.39   22.38   22.54   19.56   12.35   22.48
   22.9    17.68   23.59   24.7  2198.     25.24   23.95   17.03   26.
   25.     14.74   27.3    18.19   19.5    21.9    18.06   24.52   21.64
   16.95   20.09   18.1    14.28   17.43   23.9    15.26   15.87   23.1
 1248.     23.4    25.8    21.63   15.43 1120.     24.97   22.05   19.65
   13.9    25.6  2995.     23.   3996.     21.5    19.34   19.2    25.2
   21.43  245.59   19.81   16.78   17.45   17.92   14.59   24.     13.17
   14.16   19.02   19.69   14.5    21.66   15.96   16.4    18.41   10.54
 1061.     22.8  1968.     17.2    21.1    17.41   17.97   18.45   18.78]

In [59]:
owner = {'First Owner' 'Second Owner' 'Third Owner','Fifth Owner'}
transmission  = {'Automatic' 'Manual'}

In [60]:
# Iterate through each cell in the DataFrame
for index, row in df.loc[:,['registration_year','seats','kms_driven','manufacturing_year','mileage(kmpl)','engine(cc)','max_power(bhp)','torque(Nm)','price(in lakhs)']].iterrows():
    for column in  df.loc[:,['registration_year','seats','kms_driven','manufacturing_year','mileage(kmpl)','engine(cc)','max_power(bhp)','torque(Nm)','price(in lakhs)']].columns:
        # Check if the cell value is not int or float
        if not isinstance(df.at[index, column], (int, float)):
            # Replace the cell value with NaN
            df.at[index, column] = np.nan

In [61]:
df.isna().sum()

Unnamed: 0               0
registration_year     1553
insurance_validity       0
fuel_type                0
seats                    1
kms_driven               1
ownsership               0
transmission             0
manufacturing_year    1553
mileage(kmpl)            3
engine(cc)               3
max_power(bhp)           3
torque(Nm)               4
price(in lakhs)          0
dtype: int64